@use "../CSS/partial/fonts" as *;
@use "../CSS/partial/variables" as *;
@use "../CSS/partial/mixin" as *;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'AvenirNext LT Pro', Arial, Helvetica, sans-serif;
    font-size: normal;
    font-weight: 400;
}

.navbar {
    background-color: $primary-color;

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include tablet {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        background-color: $primary-color;
        gap: 3.5em;
        }   

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
    }

    &-logo img {
        width: 220px;
        padding: 24px 24px 0;

        @include tablet {
            padding: 30px 36px;
        }
    }

    &-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4.5em;
        }

        &__items {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            flex: 1;
            
            @include tablet {
                padding: 36px 0;
                flex: none;
            }

            &:hover {
                border-bottom: 4px solid $third-color;
            }
        }
    }

    &-links__items a {
        color: $third-color;
        text-decoration: none;
        text-transform: none;
        font-size: 16px;
        font-weight: 600;

        @include tablet {
            font-size: 18px;
            font-weight: 400;
        }

    }
}

.hero {
    background-image:url("../Assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 258px;
    position: relative;

    @include tablet {
        height: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 780px;
    }

        &-overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(50, 50, 50, 0.5);
        }
    

        &-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding:0 16px;
            
            @include desktop {
               position: inherit;
               display: flex;
               align-items: center;
               justify-content: flex-start;
               max-width: 1280px;
               margin: auto;
            }
        }

    & h1 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        color: $third-color;
        z-index: 1;

        @include tablet {
            font-size: 78px;
            line-height: 68px;
            font-weight: 700;
            color: $third-color;
            padding: 0 36px;
        }
    }
}

.articles {

    @include tablet {
        padding-top: 2rem;
    }
    

    &-quotation {

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }

        h2 {
            font-size: 32px;
            line-height: 32px;
            font-weight: 700;
            color: $primary-color;
            padding: 32px 16px 0;
    
            @include tablet {
                font-size: 46px;
                line-height: 44px;
                font-weight: 700;
                padding: 36px 36px 20px;
            }

            @include desktop {
                max-width: 1280px;
                margin: auto;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include tablet {
                padding: 0 93px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @include desktop {
                max-width: 1280px;
                margin: auto;
            }


            #quotation {
                display: flex;
                align-self: flex-start;
                font-size: 20px;
            }
        }

        &__subheader {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            padding: 0 16px 16px;

            @include tablet {
                    font-size: 28px;
                    line-height: 38px;
                    font-weight: 600;
                    word-spacing: 2px;
                    color: $primary-color;
                    // padding: 24px 4rem 0;
                }
            }

            &__img {
                padding: 16px;
                width: 100%;
                height: auto;
                text-align: center;
        
                @include tablet {
                    width: 100%;
                    // height: 459.5px;
                    height: 80%;
                    // height: auto;
                    padding-bottom: 32px;
                }
            }
    }

    h3 {
        padding: 16px;
        font-weight: 600;
        color: $primary-color;

        @include tablet {
            padding: 30px 97px;
            font-size: 32px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
    }

    &-description {
        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
    }

    &-description__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            padding: 0 93px 32px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
    }

    &-description__items {
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
        word-spacing: 1.15px;
        padding: 0 16px 16px;

        @include tablet {
            font-size: 20px;
            line-height: 27px;
            font-weight: 400;
            color: $primary-color;
        }
    }

}

.gallery {
    position: relative;
    padding-bottom: 16px;

    @include tablet {
        padding: 36px 36px 0;
    }
    
    &-overlay {
        content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $gallery-bg-color;
            opacity: 0.2;
            z-index: -1;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        color: $primary-color;
        padding: 32px 16px 0;

        @include tablet {
            font-size: 46px;
            line-height: 44px;
            font-weight: 700;
            padding: 36px 28px 20px;
        }
        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: space-evenly;
            flex-wrap: wrap;
            padding-bottom: 36px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
    }

    &-items {
        padding: 16px 16px 0;
        width: 100%;
        position: relative;
        height: auto;
        -webkit-filter: grayscale(100%);
        transition: all 0.5s ease;

        &:hover {
            transform: scale(1.1);
            position: relative;
            -webkit-filter: grayscale(0%);
        }

        @include tablet {
            width:30%;
            height: auto;
            padding: 0;
            margin: 14px;
        }
    }
}

.footer {
    background-color: $primary-color;

    &-top {

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 56px 36px 36px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }

        &__navbar {
            display: flex;
            flex-direction: column;
            padding: 36px 16px 0;
    
            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px;
                gap: 2.5em;
            }
    
            &--icons {
                display: flex;
                justify-content: flex-start;
                align-items: center; 
                padding: 1.5rem 0 0.5rem; 
                
                @include tablet {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    gap: 2.5rem;
                }
            }
    
            &--items {
                list-style: none;
                margin-right: 2.5rem;
                margin-bottom: 5px;

                @include tablet {
                    margin: 0;
                }
            }
    
            &--img {
                width: 30px;
            }
    
            #icon-facebook {
                width: 17px;
            }
    
            #icon-twitter {
                width: 35px;
            }
        }
    
        h3 {
            color: $third-color;
            font-size: 32px;
            line-height: 32px;
            font-weight: 700;

            @include tablet {
                font-size: 47px;
            }
        }
    
        &__logo {
            display: none;
    
            @include tablet {
                display: flex;
                padding: 16px;
            }

            img {
                width: 160px;
            }
        }

    }


    &-mid__container {
        display: flex;
        flex-direction: column;
        padding: 16px;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 52px;
            gap: 60px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }

    }

    &-mid__items {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        // @include tablet {
        //     display: flex;
        //     justify-content: center;
        // }

        &--text{
            color: $third-color;
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 20px;
            line-height: 24px;

            @include tablet {
                font-size: 18px;
                font-weight: 400;
                line-height: 36px;
            }
        }
    }


    &-bottom {
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 0 36px 36px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
        
        &__logo {
            padding-bottom: 1.2rem;

            @include tablet {
                display: none;
            }

            img {
                width: 185px;
                padding: 24px 16px 0;
            }
        }

        &__copyright {
            color: $third-color;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            padding: 0 16px 16px;

            @include tablet {
                font-size: 18px;
            }
        }
    }

}