@use "../CSS/partial/fonts" as *;
@use "../CSS/partial/variables" as *;
@use "../CSS/partial/mixin" as *;


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'AvenirNext LT Pro', Arial, Helvetica, sans-serif;
    font-size: normal;
    font-weight: 400;
}

.navbar {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

        @include tablet {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        background-color: $primary-color;
        gap: 3.5em;
        }   

    &-logo img {
        width: 220px;
        padding: 24px 24px 0;

        @include tablet {
            padding: 30px 36px;
        }
    }

    &-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4.5em;
        }

        &__items {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            flex: 1;
            
            @include tablet {
                padding: 36px 0;
                flex: none;
            }

            &:hover {
                border-bottom: 4px solid $third-color;
            }
        }
    }

    &-links__items a {
        color: $third-color;
        text-decoration: none;
        text-transform: none;
        font-size: 16px;
        font-weight: 600;

        @include tablet {
            font-size: 18px;
            font-weight: 400;
        }

    }
}

.hero {
    background-image:url("../Assets/Images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 258px;
    position: relative;

    @include tablet {
        height: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        &-overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(50, 50, 50, 0.5);
        }
    

        &-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding:0 16px;
        }

    & h1 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        color: $third-color;
        z-index: 1;

        @include tablet {
            font-size: 78px;
            line-height: 68px;
            font-weight: 700;
            color: $third-color;
            padding: 0 36px;
        }
    }
}

.articles {

    @include tablet {
        padding-top: 2rem;
    }
    & h2 {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        padding: 32px 16px 0;

        @include tablet {
            font-size: 44px;
            line-height: 44px;
            font-weight: 700;
            padding: 36px;
        }
    }

    &-quotation {

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include tablet {
                padding: 0 36px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            & p {
                display: block;
            }
        }

        &__subheader {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            padding: 0 16px 16px;

            @include tablet {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 600;
                }
            }

            &__img {
                padding: 16px;
                width: 100%;
                height: 15em;
                text-align: center;
        
                @include tablet {
                    width: 85%;
                    height: 28em;
                    // padding: 0 48px;
                }
            }
    }

    & h3 {
        padding: 16px;
        font-weight: 600;
    }

    &-description__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-description__items {
        font-size: 17px;
        font-weight: 400;
        line-height: 21px;
        word-spacing: 1.15px;
        padding: 0 16px 16px;
    }

}

.gallery {
    position: relative;
    padding-bottom: 16px;
    
    &-overlay {
        content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $gallery-bg-color;
            opacity: 0.2;
            z-index: -1;
    }

    &-container {
        display: flex;
        flex-direction: column;
    }

    &-items {
        padding: 16px 16px 0;
        width: 100%;
        height: 15em;
    }
}

.footer {
    background-color: $primary-color;

    &-top__navbar {
        display: flex;
        flex-direction: column;
        padding: 36px 16px 0;

        &--icons {
            display: flex;
            justify-content: flex-start;
            align-items: center; 
            padding: 1.5rem 0 0.5rem;  
        }

        &--items {
            list-style: none;
            margin-right: 2.5rem;
            margin-bottom: 5px;
        }

        &--img {
            width: 30px;
        }

        #icon-facebook {
            width: 17px;
        }

        #icon-twitter {
            width: 35px;
        }
    }

    h3 {
        color: $third-color;
        font-size: 32px;
        line-height: 32px;
        font-weight: 700
    }

    &-top__logo {
        display: none;
    }

    &-mid__container {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    &-mid__items {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        &--text{
            color: $third-color;
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 20px;
            line-height: 24px;
        }
    }


    &-bottom {
        display: flex;
        flex-direction: column;
        
        &__logo {
            padding-bottom: 1.2rem;

            img {
                width: 185px;
                padding: 24px 16px 0;
            }
        }

        &__copyright {
            color: $third-color;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            padding: 0 16px 16px;
        }
    }

}