@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../Assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../Assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../Assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "AvenirNext LT Pro", Arial, Helvetica, sans-serif;
  font-size: normal;
  font-weight: 400;
}

.navbar {
  background-color: #323232;
}
.navbar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .navbar__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: #323232;
    gap: 3.5em;
  }
}
@media (min-width: 1280px) {
  .navbar__container {
    max-width: 1280px;
    margin: auto;
  }
}
.navbar__logo img {
  width: 220px;
  padding: 24px 24px 0;
}
@media (min-width: 768px) {
  .navbar__logo img {
    padding: 30px 36px;
  }
}
@media (min-width: 1280px) {
  .navbar__logo img {
    padding: 30px 22px;
  }
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .navbar__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4.5em;
  }
}
.navbar__links--items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex: 1;
}
@media (min-width: 768px) {
  .navbar__links--items {
    padding: 36px 0;
    flex: none;
  }
}
.navbar__links--items a {
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .navbar__links--items a {
    font-size: 18px;
    font-weight: 400;
  }
}
.navbar__links #navbar-shows {
  border-bottom: 4px solid #ffffff;
}

.hero {
  background-image: url("../Assets/Images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 780px;
  }
}
.hero__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 2.5rem 0;
  gap: 1rem;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 3.5rem 0 2.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    position: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    padding: 0;
    gap: 0;
  }
}
.hero__heading {
  width: 65%;
}
@media (min-width: 768px) {
  .hero__heading {
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .hero__heading {
    width: 67%;
    padding-bottom: 44px;
  }
}
.hero__heading h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 1.5rem;
}
@media (min-width: 768px) {
  .hero__heading h1 {
    font-size: 78px;
    line-height: 80px;
    font-weight: 700;
    color: #ffffff;
    padding: 20px 22px;
  }
}
.hero__heading h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 768px) {
  .hero__heading h4 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    padding: 12px 22px;
  }
}
@media (min-width: 1280px) {
  .hero__heading h4 {
    padding-bottom: 2rem;
  }
}
.hero__soundTrack {
  width: 100%;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .hero__soundTrack {
    padding: 0 22px;
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .hero__soundTrack {
    text-align: right;
    padding-top: 20px;
    width: 56%;
  }
}
.hero__soundTrack--link {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .hero__soundTrack--link {
    width: 530px;
    height: 182px;
    border-radius: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.concerts-lists__container {
  display: block;
  padding: 32px 16px;
}
@media (min-width: 768px) {
  .concerts-lists__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    padding: 3.5rem 20px 3rem;
  }
}
@media (min-width: 1280px) {
  .concerts-lists__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1280px;
    margin: auto;
    gap: 5rem;
    padding: 5rem 0 3rem;
  }
}
.concerts-lists__container h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .concerts-lists__container h2 {
    font-size: 47px;
    line-height: 36px;
    font-weight: 700;
    padding: 0 16px;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .concerts-lists__container h2 {
    padding-left: 22px;
  }
}
@media (min-width: 768px) {
  .concerts-lists__subflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 1.65rem;
  }
}
@media (min-width: 1280px) {
  .concerts-lists__subflex {
    gap: 2rem;
    padding-top: 1rem;
  }
}
.concerts-lists__items {
  display: none;
}
@media (min-width: 768px) {
  .concerts-lists__items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}
.concerts-lists__items--span {
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  color: #afafaf;
}
@media (min-width: 1280px) {
  .concerts-lists__items--span:first-child {
    margin-right: 94px;
  }
}
.concerts-lists__items span {
  width: 196px;
}
@media (min-width: 1280px) {
  .concerts-lists__items span {
    width: 193px;
  }
}
@media (min-width: 768px) {
  .concerts-lists__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
}
.concerts-lists__tickets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 2px solid rgba(225, 225, 225, 0.79);
}
@media (min-width: 768px) {
  .concerts-lists__tickets {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 5.8rem;
    border-bottom: 2px solid rgba(225, 225, 225, 0.79);
  }
}
@media (min-width: 1280px) {
  .concerts-lists__tickets {
    gap: 3.5rem;
  }
}
.concerts-lists__tickets:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.concerts-lists__tickets p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #afafaf;
}
@media (min-width: 768px) {
  .concerts-lists__tickets p {
    display: none;
  }
}
.concerts-lists__tickets--date {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .concerts-lists__tickets--date {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    flex: 1;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .concerts-lists__tickets--date {
    width: 163px;
    margin-right: 94px;
  }
}
.concerts-lists__tickets--text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .concerts-lists__tickets--text {
    justify-self: baseline;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    flex: 1;
  }
}
.concerts-lists__tickets--button {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #323232;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .concerts-lists__tickets--button {
    padding: 14px 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #323232;
    border-radius: 5px;
    width: 196px;
  }
}

.footer {
  background-color: #323232;
}
@media (min-width: 768px) {
  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 56px 36px 36px;
  }
}
@media (min-width: 1280px) {
  .footer-top {
    max-width: 1280px;
    margin: auto;
    padding: 56px 17px 36px;
  }
}
.footer-top__navbar {
  display: flex;
  flex-direction: column;
  padding: 36px 16px 0;
}
@media (min-width: 768px) {
  .footer-top__navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    gap: 2.5em;
  }
}
.footer-top__navbar--icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0 0.5rem;
}
@media (min-width: 768px) {
  .footer-top__navbar--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 2.5rem;
  }
}
.footer-top__navbar--items {
  list-style: none;
  margin-right: 2.5rem;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .footer-top__navbar--items {
    margin: 0;
  }
}
.footer-top__navbar--img {
  width: 30px;
}
.footer-top__navbar #icon-facebook {
  width: 17px;
}
.footer-top__navbar #icon-twitter {
  width: 35px;
}
.footer-top h3 {
  color: #ffffff;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer-top h3 {
    font-size: 47px;
  }
}
.footer-top__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer-top__logo {
    display: flex;
    padding: 16px 0;
  }
}
.footer-top__logo img {
  width: 160px;
}
.footer-mid__container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (min-width: 768px) {
  .footer-mid__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 36px;
    margin-bottom: 10px;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .footer-mid__container {
    max-width: 1280px;
    margin: 0 auto 10px;
    padding-left: 22px;
  }
}
.footer-mid__items {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.footer-mid__items--text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .footer-mid__items--text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }
}
.footer-bottom {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer-bottom {
    padding: 0 36px 36px;
  }
}
@media (min-width: 1280px) {
  .footer-bottom {
    max-width: 1280px;
    margin: auto;
    padding: 0 22px 36px;
  }
}
.footer-bottom__logo {
  padding-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .footer-bottom__logo {
    display: none;
  }
}
.footer-bottom__logo img {
  width: 185px;
  padding: 24px 16px 0;
}
.footer-bottom__copyright {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 0 16px 16px;
}
@media (min-width: 768px) {
  .footer-bottom__copyright {
    font-size: 18px;
    padding: 0 0 16px;
  }
}
@media (min-width: 1280px) {
  .footer-bottom__copyright {
    padding: 0 0 16px;
  }
}/*# sourceMappingURL=shows.css.map */