@use "./partial/fonts" as *;
@use "./partial/variables" as *;
@use "./partial/mixin" as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    font-size: normal;
    font-weight: 400;
}

.navbar {
    background-color: $primary-color;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include tablet {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        background-color: $primary-color;
        gap: 3.5em;
        }   

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
    }

    &__logo img {
        width: 220px;
        padding: 24px 24px 0;

        @include tablet {
            padding: 30px 36px;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4.5em;
        }

        &--items {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            flex: 1;
            
            @include tablet {
                padding: 36px 0;
                flex: none;
            }

            &:hover {
                border-bottom: 4px solid $third-color;
            }

            a {
                color: $third-color;
                text-decoration: none;
                text-transform: none;
                font-size: 16px;
                font-weight: 600;
        
                @include tablet {
                    font-size: 18px;
                    font-weight: 400;
                }
        
            }
        }
    }
}

.hero {
    background-image:url("../Assets/Images/hero-shows.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 258px;
    position: relative;

    @include tablet {
        height: 600px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    @include desktop {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 780px;
    }

        &__overlay {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(50, 50, 50, 0.5);
        }
    

        &__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            padding:0 16px;

            @include tablet {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1rem;
            }
            
            @include desktop {
               position: inherit;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-between;
               max-width: 1280px;
               margin: auto;
            }
        }

    &__heading {
        width: 60%;

        h1 {
                font-size: 32px;
                line-height: 32px;
                font-weight: 700;
                color: $third-color;
                z-index: 1;

                @include tablet {
                    font-size: 78px;
                    line-height: 80px;
                    word-spacing: 0.5rem;
                    font-weight: 700;
                    color: $third-color;
                    padding: 0 22px;
                }
            } 

        h4 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: $third-color;
            padding: 12px 0;
            
            @include tablet {
                font-size: 36px;
                line-height: 36px;
                font-weight: 700;
                padding: 12px 22px;
            }
        }
    }

    &__soundTrack {

        @include tablet {
            padding: 0 22px;
            margin-top: 1rem;
        }

        &--link{
        width: 520px;
        height: 182px;
        border-radius: 5px;
        object-fit: cover;
        }
    }
}

.concerts-lists {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3rem;
        padding: 3.5rem 36px;

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            max-width: 1280px;
            margin: auto;
            gap: 8rem;
            padding-top: 5rem;
        }

        h2 {
            font-size: 47px;
            line-height: 36px;
            font-weight: 700;
        }
    }

    &__subflex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 2rem;

        @include desktop {
            padding-top: 1rem;
        }
    }

    &__items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--span {
            font-size: 16px;
            font-weight: 600;
            line-height: 14px;
            text-transform: uppercase;
            color: $secondy-color;
        }

        span {
            width: 212px;

            @include desktop {
                width: 193px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 5rem;
    }

    &__tickets {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-bottom: 1.7rem;
        gap: 6rem;
        border-bottom: 2px solid rgba(225, 225, 225, 0.79);

        &:hover {
            background-color: rgba(225, 225, 225, 0.19);
        }

        @include desktop {
            gap: 5.5rem;
        }

        &--date {
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
            flex: 1;

            @include desktop {
                width: 152px;
            }
        }

        &--text {
            justify-self: baseline;
            font-size: 18px;
            line-height: 18px;
            font-weight: 400;
            flex: 1;
        }

        &--button {
            padding: 14px 30px;
            font-size: 20px;
            font-weight: 400;
            color: $third-color;
            background-color: $primary-color;
            border-radius: 5px;
        }
    }
}



.footer {
    background-color: $primary-color;

    &-top {

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 56px 36px 36px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
            padding: 56px 17px 36px;
        }

        &__navbar {
            display: flex;
            flex-direction: column;
            padding: 36px 16px 0;
    
            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px;
                gap: 2.5em;
            }
    
            &--icons {
                display: flex;
                justify-content: flex-start;
                align-items: center; 
                padding: 1.5rem 0 0.5rem; 
                
                @include tablet {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    gap: 2.5rem;
                }
            }
    
            &--items {
                list-style: none;
                margin-right: 2.5rem;
                margin-bottom: 5px;

                @include tablet {
                    margin: 0;
                }
            }
    
            &--img {
                width: 30px;
            }
    
            #icon-facebook {
                width: 17px;
            }
    
            #icon-twitter {
                width: 35px;
            }
        }
    
        h3 {
            color: $third-color;
            font-size: 32px;
            line-height: 32px;
            font-weight: 700;

            @include tablet {
                font-size: 47px;
            }
        }
    
        &__logo {
            display: none;
    
            @include tablet {
                display: flex;
                padding: 16px;
            }

            img {
                width: 160px;
            }
        }

    }


    &-mid__container {
        display: flex;
        flex-direction: column;
        padding: 16px;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding-left: 52px;
            margin-bottom: 10px;
            gap: 60px;
        }

        @include desktop {
            max-width: 1280px;
            margin: 0 auto 10px;
            padding-left: 35px;
        }

    }

    &-mid__items {
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        &--text{
            color: $third-color;
            font-size: 17px;
            font-weight: 400;
            margin-bottom: 20px;
            line-height: 24px;

            @include tablet {
                font-size: 18px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }


    &-bottom {
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 0 36px 36px;
        }

        @include desktop {
            max-width: 1280px;
            margin: auto;
        }
        
        &__logo {
            padding-bottom: 1.2rem;

            @include tablet {
                display: none;
            }

            img {
                width: 185px;
                padding: 24px 16px 0;
            }
        }

        &__copyright {
            color: $third-color;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            padding: 0 16px 16px;

            @include tablet {
                font-size: 18px;
            }

            @include desktop {
                padding: 0 0 16px;
            }
        }
    }

}